:root {
    --navbar-bg-color: rgb(51, 50, 50);
    --nav-height: 45px;
    --links-font-size: 18px;
    --input-text-height: 28px;
    --input-text-width: 200px;
    --button-height: 32px; 
    --button-width: 80px;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: rgb(180, 235, 235);
}

.flex-container {
    position: relative;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--navbar-bg-color);
    margin: 0;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    height: var(--nav-height);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: var(--links-font-size);
    /*font-weight: lighter;*/
}

#navbar-first {
    font-size: calc(var(--links-font-size) + 4px);
    font-weight: normal;
    margin-right: 8px;
}

select[name="dropdown"] {
    margin-top: 1px;
    appearance: none;
    border: none;
    color: white;
    background-color: var(--navbar-bg-color);
    font-size: var(--links-font-size);
    /*font-weight: lighter;*/
}

select[name="dropdown"]:hover {
    cursor: pointer;
}

#dropdown-icon {
    position: relative;
    float: right;
    right: 2px;
    bottom: 1px;
    width: 30px;
    height: 30px;
}

#dropdown-icon:hover {
    cursor: pointer;
}

input[type="text"] {
    appearance: none;
    border: none;
    border-radius: 3px;
    height: var(--input-text-height);
    width: var(--input-text-width);
    margin-right: 5px;
}

#disabled {
    margin-right: 60px;
    color: rgb(111, 107, 107);
    pointer-events: none;
    position: relative;
    right: 8px;
}

#hamburger-menu {
    width: 20px;
    height: 20px;
    display: none;
    position: relative;
    bottom: 35px;
    left: 90%;
}

input[type="submit"] {
    appearance: none;
    border: none;
    border: 1px solid green;
    color: green;
    border-radius: 4px;
    background-color: var(--navbar-bg-color);
    height: 32px;
    width: 70px;
}

input[type="submit"]:hover {
    background-color: rgb(106, 169, 148);
    color: white;
}

.light-grey, #dropdown {
    color: rgb(184, 183, 183);
}

@media only screen and (max-width: 806px) {
    #home, #link, #dropdown, #dropdown-icon, #disabled, #search-bar {
        display: none;
    }

    #hamburger-menu {
        display: initial;
    }

    #navbar-first {
        flex: 1;
    }
}